---
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
/*
  Base layout for the entire site.
  Defines the HTML structure and shared elements.
*/
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Lelany Fernández | Portfolio</title>
  </head>
  <body class="min-h-screen flex flex-col bg-background text-primaryDark">
  <Navbar />

  <main class="flex-grow mx-auto max-w-6xl px-4 py-2">
    <slot />
  </main>

  <Footer />
</body>

</html>
